<div class="custom__card">
  <a href="{{ product.url }}">
    <div class="custom_card_media">
      {% if product.featured_image %}
        <img src="{{ product.featured_image | image_url: width: 800 }}">
      {% else %}
        {{ 'product-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
      {% endif %}
    </div>
  </a>

  <div class="card__information">
    <h3 class="card__heading h5">
      <a href="{{ product.url }}" class="full-unstyled-link">
        {{ product.title }}
      </a>
    </h3>
    {% render 'price', product: product, price_class: '', show_compare_at_price: true %}
  </div>
</div>
