<div class="customizer_footer page-width">
  <div class="customizer_atc">
    <button class="atc_btn" disabled>
      <img src="https://cdn.shopify.com/s/files/1/0838/4695/5274/files/shopping-bag.png?v=1752846913">
      <span>{{ section.settings.summary_addtocart }}</span>
    </button>
  </div>
  <div class="summary_accordion">
    <span> Summary </span>
    {{- 'icon-caret.svg' | inline_asset_content -}}
  </div>
  <div class="customizer_summary">
    <div class="customizer_summary_items">
      <div class="customizer_summary_item">
        <div class="sum_optionTitle">
          <h4>{{ section.settings.heading1 }}</h4>
          <p>{{ section.settings.title_tobeselect }}</p>
        </div>
      </div>
      <div class="customizer_summary_item">
        <div class="sum_optionTitle">
          <h4>{{ section.settings.heading2 }}</h4>
          <p>{{ section.settings.title_tobeselect }}</p>
        </div>
      </div>
      <div class="customizer_summary_item">
        <div class="sum_optionTitle">
          <h4>{{ section.settings.heading3 }}</h4>
          <p>{{ section.settings.title_tobeselect }}</p>
        </div>
      </div>
      <div class="customizer_summary_item">
        <div class="sum_optionTitle">
          <h4>{{ section.settings.heading4 }}</h4>
          <p>{{ section.settings.title_tobeselect }}</p>
        </div>
      </div>
      <div class="customizer_summary_item">
        <div class="sum_optionTitle">
          <h4>{{ section.settings.heading5 }}</h4>
          <p>{{ section.settings.title_tobeselect }}</p>
        </div>
      </div>
      <div class="customizer_summary_item">
        <div class="sum_optionTitle customizer_total">
          <h4>{{ section.settings.summary_total }}</h4>
          <p>0.00</p>
        </div>
      </div>
    </div>
  </div>
</div>
